<dom-module id="game-viewlet">
	
	<style>

		:host {
			@apply(--layout-vertical);
			border-radius: 4px;
			color: black;
			margin: 5px;
			padding: 15px 20px;
			text-align: center;
			text-decoration: none;
		}
		
		:host[clickable]:hover {
			background-color: lightgray;
			cursor: pointer;
		}

		.at-symbol-completed {
			font-size: 2rem;
			margin: 0 10px;
		}

		.at-symbol-scheduled {
			font-size: 2rem;
			margin: 0 5px;
		}

		.score {
			font-size: 2rem;
		}

		.scoreboard {
			@apply(--layout-horizontal);
			@apply(--layout-center-center);
		}

		.team-name-completed {
			border-radius: 5px;
			font-size: 2rem;
			padding: 5px;
		}

		.team-name-scheduled-left {
			border-radius: 10px 0 0 10px;
			font-size: 2.5rem;
			padding: 5px;
		}

		.team-name-scheduled-right {
			border-radius: 0 10px 10px 0;
			font-size: 2.5rem;
			padding: 5px;
		}

		.team-score {
			@apply(--layout-vertical);
			@apply(--layout-center-center);
		}

		.time-stamp {
			font-size: 1rem;
			padding: 5px 0px;
		}

	</style>

	<template>

		<template is="dom-if" if="{{_isCompletedGame(gameType)}}">
			<div class="scoreboard">
				<div class="team-score">
					<div class="team-name-completed" scoreboard-team$="{{awayTeam}}">{{awayTeam}}</div>
					<div class="score">{{awayScore}}</div>
				</div>
				<div class="at-symbol-completed">@</div>
				<div class="team-score">
					<div class="team-name-completed" scoreboard-team$="{{homeTeam}}">{{homeTeam}}</div>
					<div class="score">{{homeScore}}</div>
				</div>
			</div>
			<div class="time-stamp">{{dayOfWeek}}, {{startMonthName}} {{startDate}}, {{startYear}}, {{startHour}}:{{startMinute}}{{startAmPm}}</div>
		</template>

		<template is="dom-if" if="{{_isLiveGame(gameType)}}">
			<div class="scoreboard">
				<div class="team-score">
					<div class="team-name-completed" scoreboard-team$="{{awayTeam}}">{{awayTeam}}</div>
					<div class="score">{{awayScore}}</div>
				</div>
				<div class="at-symbol-completed">@</div>
				<div class="team-score">
					<div class="team-name-completed" scoreboard-team$="{{homeTeam}}">{{homeTeam}}</div>
					<div class="score">{{homeScore}}</div>
				</div>
			</div>
			<div class="time-stamp">{{dayOfWeek}}, {{startMonthName}} {{startDate}}, {{startYear}}, {{startHour}}:{{startMinute}}{{startAmPm}}</div>
		</template>

		<template is="dom-if" if="{{_isScheduledGame(gameType)}}">
			<div class="scoreboard">
				<div class="team-score">
					<div class="team-name-scheduled-left" scoreboard-team$="{{awayTeam}}">{{awayTeam}}</div>
				</div>
				<div class="at-symbol-scheduled">@</div>
				<div class="team-score">
					<div class="team-name-scheduled-right" scoreboard-team$="{{homeTeam}}">{{homeTeam}}</div>
				</div>
			</div>
			<div class="time-stamp">{{dayOfWeek}}, {{startMonthName}} {{startDate}}, {{startYear}}, {{startHour}}:{{startMinute}}{{startAmPm}}</div>
		</template>

	</template>

</dom-module>

<script>

	Polymer({
		is: "game-viewlet",

		properties: {
			clickable: {
				type: Boolean,
				value: false,
				reflectToAttribute: true
			},
			gameType: {
				type: String,
				value: "" // possible values: "live", "scheduled", "completed"
			},
			gsisId: {
				type: String,
				value: ""
			},
			dayOfWeek: String,
			awayTeam: String,
			awayScore: String,
			homeTeam: String,
			homeScore: String,
			startYear: String,
			startDate: String,
			startHour: String,
			startMinute: String,
			startMonthName: String,
			startAmPm: String,
			timeZone: String,
			isPlaying: Boolean,
			finished: Boolean
		},

		_isCompletedGame: function(gameType) {
			return gameType == "completed";
		},

		_isLiveGame: function(gameType) {
			return gameType == "live";
		},

		_isScheduledGame: function(gameType) {
			return gameType == "scheduled";
		}
	});

</script>