<style is="custom-style">

	* {
		font-family: 'Oswald', sans-serif;
	}

	:root {
		--ari-color-1: #97233F;
		--ari-color-2: #000000;
		--ari-color-3: #FFB612;
		--ari-color-4: #A5ACAF;

		--atl-color-1: #A71930;
		--atl-color-2: #000000;
		--atl-color-3: #A5ACAF;

		--bal-color-1: #241773;
		--bal-color-2: #000000;
		--bal-color-3: #9E7C0C;
		--bal-color-4: #C60C30;

		--buf-color-1: #00338D;
		--buf-color-2: #C60C30;

		--car-color-1: #0085CA;
		--car-color-2: #000000;
		--car-color-3: #BFC0BF;

		--chi-color-1: #0B162A;
		--chi-color-2: #C83803;

		--cin-color-1: #000000;
		--cin-color-2: #FB4F14;

		--cle-color-1: #FB4F14;
		--cle-color-2: #22150C;
		--cle-color-3: #A5ACAF;

		--dal-color-1: #002244;
		--dal-color-2: #B0B7BC;
		--dal-color-3: #ACC0C6;
		--dal-color-4: #A5ACAF;
		--dal-color-5: #00338D;
		--dal-color-6: #000000;

		--den-color-1: #002244;
		--den-color-2: #FB4F14;

		--det-color-1: #005A8B;
		--det-color-2: #B0B7BC;
		--det-color-3: #000000;

		--gb-color-1: #203731;
		--gb-color-2: #FFB612;

		--hou-color-1: #03202F;
		--hou-color-2: #A71930;

		--ind-color-1: #002C5F;
		--ind-color-2: #A5ACAF;
		--ind-color-3: #FFFFFF;

		--jac-color-1: #000000;
		--jac-color-2: #006778;
		--jac-color-3: #9F792C;
		--jac-color-4: #D7A22A;

		--kc-color-1: #E31837;
		--kc-color-2: #FFB612;
		--kc-color-3: #000000;

		--mia-color-1: #008E97;
		--mia-color-2: #F58220;
		--mia-color-3: #005778;

		--min-color-1: #4F2683;
		--min-color-2: #FFC62F;
		--min-color-3: #E9BF9B;
		--min-color-4: #000000;

		--ne-color-1: #002244;
		--ne-color-2: #C60C30;
		--ne-color-3: #B0B7BC;

		--no-color-1: #9F8958;
		--no-color-2: #000000;

		--nyg-color-1: #0B2265;
		--nyg-color-2: #A71930;
		--nyg-color-3: #A5ACAF;

		--nyj-color-1: #203731;
		--nyj-color-2: #FFFFFF;

		--oak-color-1: #A5ACAF;
		--oak-color-2: #000000;

		--phi-color-1: #004953;
		--phi-color-2: #A5ACAF;
		--phi-color-3: #ACC0C6;
		--phi-color-4: #000000;
		--phi-color-5: #565A5C;

		--pit-color-1: #000000;
		--pit-color-2: #FFB612;

		--sd-color-1: #002244;
		--sd-color-2: #0073CF;
		--sd-color-3: #FFB612;

		--sf-color-1: #AA0000;
		--sf-color-2: #B3995D;
		--sf-color-3: #000000;
		--sf-color-4: #A5ACAF;

		--sea-color-1: #002244;
		--sea-color-2: #69BE28;
		--sea-color-3: #A5ACAF;

		--stl-color-1: #002244;
		--stl-color-2: #B3995D;

		--tb-color-1: #D50A0A;
		--tb-color-2: #34302B;
		--tb-color-3: #000000;
		--tb-color-4: #FF7900;
		--tb-color-5: #B1BABF;

		--ten-color-1: #002244;
		--ten-color-2: #4B92DB;
		--ten-color-3: #C60C30;
		--ten-color-4: #A5ACAF;

		--was-color-1: #773141;
		--was-color-2: #FFB612;
		--was-color-3: #000000;
		--was-color-4: #5B2B2F;
	}

	/* Scoreboards */
	:root [scoreboard-team=ARI] {
		color: var(--ari-color-1);
		background-color: var(--ari-color-2);
	}
	:root [scoreboard-team=ATL] {
		color: var(--atl-color-1);
		background-color: var(--atl-color-2);
	}
	:root [scoreboard-team=BAL] {
		color: var(--bal-color-1);
		background-color: var(--bal-color-2);
	}
	:root [scoreboard-team=BUF] {
		color: var(--buf-color-1);
		background-color: var(--buf-color-2);
	}
	:root [scoreboard-team=CAR] {
		color: var(--car-color-1);
		background-color: var(--car-color-2);
	}
	:root [scoreboard-team=CHI] {
		color: var(--chi-color-1);
		background-color: var(--chi-color-2);
	}
	:root [scoreboard-team=CIN] {
		color: var(--cin-color-1);
		background-color: var(--cin-color-2);
	}
	:root [scoreboard-team=CLE] {
		color: var(--cle-color-1);
		background-color: var(--cle-color-2);
	}
	:root [scoreboard-team=DAL] {
		color: var(--dal-color-1);
		background-color: var(--dal-color-2);
	}
	:root [scoreboard-team=DEN] {
		color: var(--den-color-1);
		background-color: var(--den-color-2);
	}
	:root [scoreboard-team=DET] {
		color: var(--det-color-1);
		background-color: var(--det-color-2);
	}
	:root [scoreboard-team=GB] {
		color: var(--gb-color-1);
		background-color: var(--gb-color-2);
	}
	:root [scoreboard-team=HOU] {
		color: var(--hou-color-1);
		background-color: var(--hou-color-2);
	}
	:root [scoreboard-team=IND] {
		color: var(--ind-color-3);
		background-color: var(--ind-color-1);
	}
	:root [scoreboard-team=JAC] {
		color: var(--jac-color-1);
		background-color: var(--jac-color-3);
	}
	:root [scoreboard-team=KC] {
		color: var(--kc-color-1);
		background-color: var(--kc-color-2);
	}
	:root [scoreboard-team=MIA] {
		color: var(--mia-color-1);
		background-color: var(--mia-color-2);
	}
	:root [scoreboard-team=MIN] {
		color: var(--min-color-1);
		background-color: var(--min-color-2);
	}
	:root [scoreboard-team=NE] {
		color: var(--ne-color-1);
		background-color: var(--ne-color-2);
	}
	:root [scoreboard-team=NO] {
		color: var(--no-color-1);
		background-color: var(--no-color-2);
	}
	:root [scoreboard-team=NYG] {
		color: var(--nyg-color-1);
		background-color: var(--nyg-color-2);
	}
	:root [scoreboard-team=NYJ] {
		color: var(--nyj-color-2);
		background-color: var(--nyj-color-1);
	}
	:root [scoreboard-team=OAK] {
		color: var(--oak-color-1);
		background-color: var(--oak-color-2);
	}
	:root [scoreboard-team=PHI] {
		color: var(--phi-color-1);
		background-color: var(--phi-color-2);
	}
	:root [scoreboard-team=PIT] {
		color: var(--pit-color-1);
		background-color: var(--pit-color-2);
	}
	:root [scoreboard-team=SD] {
		color: var(--sd-color-1);
		background-color: var(--sd-color-2);
	}
	:root [scoreboard-team=SF] {
		color: var(--sf-color-1);
		background-color: var(--sf-color-2);
	}
	:root [scoreboard-team=SEA] {
		color: var(--sea-color-1);
		background-color: var(--sea-color-2);
	}
	:root [scoreboard-team=STL] {
		color: var(--stl-color-1);
		background-color: var(--stl-color-2);
	}
	:root [scoreboard-team=TB] {
		color: var(--tb-color-1);
		background-color: var(--tb-color-2);
	}
	:root [scoreboard-team=TEN] {
		color: var(--ten-color-1);
		background-color: var(--ten-color-2);
	}
	:root [scoreboard-team=WAS] {
		color: var(--was-color-1);
		background-color: var(--was-color-2);
	}

</style>