<link rel="import" href="../vendor/iron-ajax/iron-ajax.html">
<link rel="import" href="../vendor/neon-animation/neon-animatable-behavior.html">
<!-- <link rel="import" href="../vendor/neon-animation/neon-shared-element-animatable-behavior.html"> -->

<link rel="import" href="game-viewlet.html">
<link rel="import" href="loading-indicator.html">
<link rel="import" href="week-selector.html">

<dom-module id="page-main">
	
	<style>

		:host {
			@apply(--layout-vertical);
		}

		.completed-games-container {
			@apply(--layout-flex);
			@apply(--layout-scroll);
			@apply(--layout-horizontal);
			@apply(--layout-around-justified);
			@apply(--layout-wrap);
			align-content: flex-start;
		}

		.container-label {
			background-color: black;
			color: white;
			font-size: 1.618rem;
			font-weight: lighter;
			padding: 10px 0;
			text-align: center;
			text-transform: uppercase;
		}

		.content {
			@apply(--layout-flex);
			@apply(--layout-vertical);
			overflow-x: hidden;
			overflow-y: auto;
		}

		.header {
			@apply(--layout-horizontal);
			@apply(--layout-center);
			flex-shrink: 0;
			background-color: lightgray;
		}

		.live-games-container {
			@apply(--layout-flex);
			@apply(--layout-scroll);
			@apply(--layout-horizontal);
			@apply(--layout-around-justified);
			@apply(--layout-wrap);
			align-content: flex-start;
		}

		.scheduled-games-container {
			@apply(--layout-flex);
			@apply(--layout-scroll);
			@apply(--layout-horizontal);
			@apply(--layout-around-justified);
			@apply(--layout-wrap);
			align-content: flex-start;
		}

		.week-selector {
			@apply(--layout-flex);
		}

	</style>

	<template>

		<iron-ajax
				id="gamesAjax"
				url="/games/"
				params="{{_gamesAjaxParams}}"
				handle-as="json"
				loading="{{_gamesAjaxLoading}}"
				last-response="{{_games}}"></iron-ajax>

		<!-- <loading-indicator show="[[_isLoading(_gamesAjaxLoading)]]" hide-background></loading-indicator> -->

		<div class="header">
			<week-selector selected-week-object="{{_selectedWeekObject}}" class="week-selector"></week-selector>
		</div>
		
		<div class="content">
			<section>
				<div class="container-label" hidden$="{{_liveGamesEmpty(_games)}}">Live</div>
				<div class="live-games-container">
					<template is="dom-repeat" items="{{_games}}" filter="_filterLiveGames" observe="finished isPlaying">
						<game-viewlet
								game-type="live"
								gsis-id="{{item.gsisId}}"
								away-team="{{item.awayTeam}}"
								away-score="{{item.awayScore}}"
								home-team="{{item.homeTeam}}"
								home-score="{{item.homeScore}}"
								day-of-week="{{item.dayOfWeek}}"
								start-year="{{item.startYear}}"
								start-month-name="{{item.startMonthName}}"
								start-date="{{item.startDate}}"
								start-hour="{{item.startHour}}"
								start-minute="{{item.startMinute}}"
								start-am-pm="{{item.startAmPm}}"
								time-zone="{{item.timeZone}}"
								is-playing="{{item.isPlaying}}"
								finished="{{item.finished}}"
								on-tap="_handleGameViewletTap"></game-viewlet>
					</template>
				</div>
			</section>

			<section>
				<div class="container-label" hidden$="{{_scheduledGamesEmpty(_games)}}">Scheduled</div>
				<div class="scheduled-games-container">
					<template is="dom-repeat" items="{{_games}}" filter="_filterScheduledGames" observe="finished isPlaying">
						<game-viewlet
								game-type="scheduled"
								gsis-id="{{item.gsisId}}"
								away-team="{{item.awayTeam}}"
								away-score="{{item.awayScore}}"
								home-team="{{item.homeTeam}}"
								home-score="{{item.homeScore}}"
								day-of-week="{{item.dayOfWeek}}"
								start-year="{{item.startYear}}"
								start-month-name="{{item.startMonthName}}"
								start-date="{{item.startDate}}"
								start-hour="{{item.startHour}}"
								start-minute="{{item.startMinute}}"
								start-am-pm="{{item.startAmPm}}"
								time-zone="{{item.timeZone}}"
								is-playing="{{item.isPlaying}}"
								finished="{{item.finished}}"
								on-tap="_handleGameViewletTap"></game-viewlet>
					</template>
				</div>
			</section>

			<section>
				<div class="container-label" hidden$="{{_completedGamesEmpty(_games)}}">Completed</div>
				<div class="completed-games-container">
					<template is="dom-repeat" items="{{_games}}" filter="_filterCompletedGames" observe="finished">
						<game-viewlet
								game-type="completed"
								gsis-id="{{item.gsisId}}"
								away-team="{{item.awayTeam}}"
								away-score="{{item.awayScore}}"
								home-team="{{item.homeTeam}}"
								home-score="{{item.homeScore}}"
								day-of-week="{{item.dayOfWeek}}"
								start-year="{{item.startYear}}"
								start-month-name="{{item.startMonthName}}"
								start-date="{{item.startDate}}"
								start-hour="{{item.startHour}}"
								start-minute="{{item.startMinute}}"
								start-am-pm="{{item.startAmPm}}"
								time-zone="{{item.timeZone}}"
								is-playing="{{item.isPlaying}}"
								finished="{{item.finished}}"
								on-tap="_handleGameViewletTap"></game-viewlet>
					</template>
				</div>
			</section>
		</div>

	</template>

</dom-module>

<script>

	Polymer({
		is: "page-main",
		behaviors: [
			Polymer.NeonAnimatableBehavior,
			/*Polymer.NeonSharedElementAnimatableBehavior*/
		],

		properties: {
			animationConfig: {
				type: Object,
				value: function() {
					return {
						'entry': {
							name: 'fade-in-animation',
							node: this
						},
						'exit': {
							name: 'fade-out-animation',
							node: this,
							timing: {duration: 0}
						}
					}
				}
			},
			selectedGame: {
				type: Object,
				notify: true,
				readOnly: true
			},
			/*sharedElements: {
				type: Object,
				value: function() {
					return {};
				}
			}*/
		},

		observers: [ "_handleSelectedWeekObjectChange(_selectedWeekObject)" ],

		_completedGamesEmpty: function(games) {
			var completedGames = games.filter(this._filterCompletedGames);
			return completedGames.length == 0;
		},

		_filterCompletedGames: function(item) {
			return item.finished;
		},

		_filterLiveGames: function(item) {
			return item.isPlaying && !item.finished;
		},

		_filterScheduledGames: function(item) {
			return !item.isPlaying && !item.finished;
		},

		_handleGameViewletTap: function(e) {
			var gameViewlet = e.currentTarget;
			this._setSelectedGame(gameViewlet._templateInstance.item);
			/*this.sharedElements = { "ripple": gameViewlet };*/
			this.fire("game-viewlet-tap");
		},

		_handleSelectedWeekObjectChange: function(selectedWeekObj) {
			/*var yearSelector = Polymer.dom(this).querySelector("#yearSelector");
			var selectedYear = yearSelector.value;
			var weekTypeSelector = Polymer.dom(this).querySelector("#weekTypeSelector");
			var selectedWeekType = weekTypeSelector.value;
			var weekSelector = Polymer.dom(this).querySelector("#weekSelector");
			var selectedWeek = weekSelector.value;

			var reqParams = {};
			reqParams["week"] = selectedWeek;
			reqParams["weekType"] = selectedWeekType;
			reqParams["year"] = selectedYear;*/

			this.set("_gamesAjaxParams", selectedWeekObj);
			this.$.gamesAjax.generateRequest();
		},

		_isEmpty: function(arr) {
			return !arr || arr.length == 0;
		},

		_isLoading: function(gamesAjaxLoading) {
			return gamesAjaxLoading;
		},

		_liveGamesEmpty: function(games) {
			var liveGames = games.filter(this._filterLiveGames);
			return liveGames.length == 0;
		},

		_scheduledGamesEmpty: function(games) {
			var scheduledGames = games.filter(this._filterScheduledGames);
			return scheduledGames.length == 0;
		}
	});

</script>