<link rel="import" href="../vendor/iron-list/iron-list.html">
<link rel="import" href="../vendor/iron-icons/iron-icons.html">
<link rel="import" href="../vendor/neon-animation/neon-animatable-behavior.html">
<link rel="import" href="../vendor/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../vendor/web-socket/web-socket.html">
<!-- <link rel="import" href="../vendor/neon-animation/neon-shared-element-animatable-behavior.html"> -->

<dom-module id="page-game">
	
	<style>
		:host {
			@apply(--layout-vertical);
		}

		#gameViewlet {
			flex-shrink: 0;
		}

		.back-button {
			height: 64px;
			width: 64px;
		}

		.content {
			@apply(--layout-flex);
			@apply(--layout-vertical);
			@apply(--layout-relative);
			@apply(--layout-scroll);
		}

		.header {
			@apply(--layout-horizontal);
			@apply(--layout-center-center);
		}

		.play-list {
			@apply(--layout-flex);
		}
	</style>

	<template>

		<!-- <iron-ajax
				id="playsAjax"
				url="/plays/"
				params="{{_playsAjaxParams}}"
				handle-as="json"
				loading="{{_playsAjaxLoading}}"
				last-response="{{_plays}}">
		</iron-ajax> -->

		<web-socket id="playsWebsocket"
				json
				url="[[_computePlaysWebsocketUrl(game.gsisId)]]"
				on-url-changed="_onPlaysWebsocketUrlChange"
				on-open="_onPlaysWebsocketOpen"
				on-close="_onPlaysWebsocketClose"
				on-message="_onPlaysWebsocketMessage"
				on-error="_onPlaysWebsocketError">
		</web-socket>

		<div class="header">
			<paper-icon-button icon="arrow-back" class="back-button" on-tap="_onBackTap"></paper-icon-button>
			<game-viewlet id="gameViewlet"
					game-type="completed"
					gsis-id="{{game.gsisId}}"
					away-team="{{game.awayTeam}}"
					away-score="{{game.awayScore}}"
					home-team="{{game.homeTeam}}"
					home-score="{{game.homeScore}}"
					day-of-week="{{game.dayOfWeek}}"
					start-year="{{game.startYear}}"
					start-month-name="{{game.startMonthName}}"
					start-date="{{game.startDate}}"
					start-hour="{{game.startHour}}"
					start-minute="{{game.startMinute}}"
					start-am-pm="{{game.startAmPm}}"
					time-zone="{{game.timeZone}}"
					is-playing="{{game.isPlaying}}"
					finished="{{game.finished}}"></game-viewlet>
		</div>

		<div class="content">
			<!-- <loading-indicator show="[[_playsAjaxLoading]]" hide-background></loading-indicator> -->
			<iron-list items="{{_plays}}" class="play-list">
				<template>
					<div class="play-item">
						<span>{{item.description}}</span>
					</div>
				</template>
			</iron-list>
		</div>

	</template>

</dom-module>

<script>

	Polymer({
		is: "page-game",
		behaviors: [
			Polymer.NeonAnimatableBehavior,
			/*Polymer.NeonSharedElementAnimatableBehavior*/
		],

		properties: {
			animationConfig: {
				type: Object,
				value: function() {
					return {
						'entry': {
							name: 'fade-in-animation',
							node: this
						},
						'exit': {
							name: 'fade-out-animation',
							node: this,
							timing: {duration: 0}
						}
					}
				}
			},
			game: {
				type: Object,
				/*observer: "_onGameChange"*/
			}
			/*sharedElements: {
				type: Object,
				value: function() {
					return { "ripple": this.$.gameViewlet };
				}
			}*/
		},

		_computePlaysWebsocketUrl: function(gsisId) {
			if (gsisId && gsisId != "") return "/websocket/plays/" + gsisId;
			return null;
		},

		_onBackTap: function() {
			this.fire("back-tap");
		},

		/*_onGameChange: function(game) {
			if (game && game.gsisId) {
				this.set("_playsAjaxParams", {"gsisId": game.gsisId});
				this.$.playsAjax.generateRequest();
			}
		},*/

		_onPlaysWebsocketClose: function() {
			console.log("plays websocket closed");
		},

		_onPlaysWebsocketError: function() {
			console.log("plays websocket error");
		},

		_onPlaysWebsocketMessage: function(e) {
			console.log("plays websocket message");
		},

		_onPlaysWebsocketOpen: function() {
			console.log("plays websocket opened");
		},

		_onPlaysWebsocketUrlChange: function(e) {
			// if there's a new url, open the websocket
			if (e.detail.currentUrl != e.detail.previousUrl) this.$.playsWebsocket.open();
		}
	});

</script>